<!-- html -->
<!DOCTYPE html>
<html lang="es">

<!-- head -->
<head>
	<!-- metas -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->
	
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet"> 
	<!-- /fonts -->

	<!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- /css -->

</head>
<!-- /head -->

<!-- body -->
<body>
	
	<!-- preloader -->
		<div id="preloader"></div>
		<div id="preloader-bellow1"></div>
		<div id="preloader-bellow2"></div>
		<div id="preloader-bellow3"></div>
	<!-- /preloader -->

	<!-- main section -->
	<div id="vue-app">
		<section id="wrap-content">

			<!-- page 1 -->
			<div class="page main-page" v-bind:class="[content.page == 1 ? '' : 'hidden' ]">
				<h1>{{ full_name }}</h1>
				<h3>{{ last_position }}</h3>
				<img class="person" src="assets/img/erick1.jpg" alt="">
				<ul class="personal-contact">
					<li><a v-bind:href="email_link"><i class="fa fa-envelope"></i></a></li>
					<li><a v-bind:href="cv.person.linkedin" target="_blanc"><i class="fa fa-linkedin"></i></a></li>
					<li><a v-on:click="show_page(2)" href="#"><i v-on:click="show_page(2)" class="fa fa-plus"></i></a></li>
				</ul>
			</div>
			
			<!-- page2 -->
			<div class="page main-page" v-bind:class="[content.page == 2 ? '' : 'hidden' ]">
				<h1>{{ full_name }}</h1>
				<h2>{{content.page_content[1].title}}</h2>
				<ul class="habilities list-group">
					<li class="list-group-item" v-for="know in knowlege">{{know.name}} <span class="badge badge-info">{{know.level}}</span></li>
				</ul>
				<ul class="personal-contact">
					<li><a v-bind:href="email_link"><i class="fa fa-envelope"></i></a></li>
					<li><a v-bind:href="cv.person.linkedin" target="_blanc"><i class="fa fa-linkedin"></i></a></li>
					<li><a v-on:click="show_page(1)" href="#"><i v-on:click="show_page(1)" class="fa fa-arrow-left"></i></a></li>
					<li><a v-on:click="show_page(3)" href="#"><i v-on:click="show_page(3)" class="fa fa-arrow-right"></i></a></li/>
				</ul>
			</div>

			<!-- page3 -->
			<div class="page main-page" v-bind:class="[content.page == 3 ? '' : 'hidden' ]">
				<h1>{{ full_name }}</h1>
				<h4>{{content.page_content[2].title}}</h4>
				<p>{{content.page_content[2].content}}</p>
				<ul class="personal-contact">
					<li><a v-bind:href="email_link"><i class="fa fa-envelope"></i></a></li>
					<li><a v-bind:href="cv.person.linkedin" target="_blanc"><i class="fa fa-linkedin"></i></a></li>
					<li><a v-on:click="show_page(2)" href="#"><i v-on:click="show_page(2)" class="fa fa-arrow-left"></i></a></li>
					<li><a v-on:click="show_page(4)" href="#"><i v-on:click="show_page(4)" class="fa fa-arrow-right"></i></a></li/>
				</ul>
			</div>

			<!-- page4 -->
			<div class="page main-page" v-bind:class="[content.page == 4 ? '' : 'hidden' ]">
				<h1>{{ full_name }}</h1>
				<h4>{{content.page_content[3].title}}</h4>
				<ul class="jobs list-group">
					<li class="list-group-item" v-for="(job, index) in jobs">
						<a 
							v-bind:href="'#job' + index" 
							v-on:click="jobs_collapse(index)"
							data-parent=".main-page" 
							data-toggle="collapse" 
							class="collapse-item" 
							>
							<i v-bind:class="[index == 0 ? 'fa fa-minus' : 'fa fa-plus' ]"></i> 
							{{job.company}} 
						</a>
						<span class="badge badge-info">{{job.last_year}}</span>
						<ul v-bind:id="'job' + index" v-bind:class="[index == 0 ? 'collapse in show' : 'collapse' ]">
							<li><b>País:</b> {{job.country}}</li>
							<li><b>Meses:</b> {{job.months}}</li>
							<li><b>Cargo:</b> {{job.position}}</li>
							<li><b>Descipción:</b> {{job.description}}</li>
							<li><b>Tenologías:</b> {{job.tecnologies}}</li>
						</ul>
					</li>
				</ul>
				<ul class="personal-contact">
					<li><a v-bind:href="email_link"><i class="fa fa-envelope"></i></a></li>
					<li><a v-bind:href="cv.person.linkedin" target="_blanc"><i class="fa fa-linkedin"></i></a></li>
					<li><a v-on:click="show_page(3)" href="#"><i v-on:click="show_page(3)" class="fa fa-arrow-left"></i></a></li>
					<li><a v-on:click="show_page(5)" href="#"><i v-on:click="show_page(5)" class="fa fa-arrow-right"></i></a></li/>
				</ul>
			</div>

			<!-- page5 -->
			<div class="page main-page" v-bind:class="[content.page == 5 ? '' : 'hidden' ]">
				<h1>{{ full_name }}</h1>
				<h4>{{content.page_content[4].title}}</h4>
				<ul class="curses list-group">
					<li class="list-group-item" v-for="(curse, index) in curses">
						<a v-bind:href="'#curse' + index" data-parent=".main-page" data-toggle="collapse">
							<i v-bind:class="[index == 0 ? 'fa fa-minus' : 'fa fa-plus' ]"></i> 
							{{curse.name}}
						</a> 
						<span class="badge badge-info">{{curse.year}}</span>
						<ul v-bind:id="'curse' + index" v-bind:class="[index == 0 ? 'collapse in show' : 'collapse' ]">
							<li><b>Area: </b> {{curse.area}}</li>
							<li><b>Horas: </b> {{curse.hours}}</li>
							<li><b>Institución: </b> {{curse.institution}}</li>
						</ul>
					</li>
				</ul>
				<ul class="personal-contact">
					<li><a v-bind:href="email_link"><i class="fa fa-envelope"></i></a></li>
					<li><a v-bind:href="cv.person.linkedin" target="_blanc"><i class="fa fa-linkedin"></i></a></li>
					<li><a v-on:click="show_page(4)" href="#"><i v-on:click="show_page(4)" class="fa fa-arrow-left"></i></a></li>
					<li><a v-on:click="show_page(6)" href="#"><i v-on:click="show_page(6)" class="fa fa-arrow-right"></i></a></li/>
				</ul>
			</div>

			<!-- page6 -->
			<div class="page main-page" v-bind:class="[content.page == 6 ? '' : 'hidden' ]">
				<h1>{{ full_name }}</h1>
				<h4>{{content.page_content[5].title}}</h4>
				<ul class="references list-group">
					<li class="list-group-item" v-for="(reference, index) in references">
						<a v-bind:href="'#reference' + index" data-parent=".main-page" data-toggle="collapse">
							<i v-bind:class="[index == 0 ? 'fa fa-minus' : 'fa fa-plus' ]"></i> 
							{{reference.name}}
						</a>
						<ul v-bind:id="'reference' + index" v-bind:class="[index == 0 ? 'collapse in show' : 'collapse' ]">
							<li><b>Empresa: </b> {{reference.company}}</li>
							<li><b>Cargo: </b> {{reference.position}}</li>
							<li><b>Email: </b> {{reference.email}}</li>
							<li><b>Teléfono: </b> {{reference.phone}}</li>
						</ul>
					</li>
				</ul>
				<ul class="personal-contact">
					<li><a v-bind:href="email_link"><i class="fa fa-envelope"></i></a></li>
					<li><a v-bind:href="cv.person.linkedin" target="_blanc"><i class="fa fa-linkedin"></i></a></li>
					<li><a v-on:click="show_page(5)" href="#"><i v-on:click="show_page(5)" class="fa fa-arrow-left"></i></a></li>
					<li><a v-on:click="show_page(7)" href="#"><i v-on:click="show_page(7)" class="fa fa-arrow-right"></i></a></li/>
				</ul>
			</div>

			<!-- page7 -->
			<div class="page main-page" v-bind:class="[content.page == 7 ? '' : 'hidden' ]">
				<h1>{{ full_name }}</h1>
				<h4>{{content.page_content[6].title}}</h4>
				<p>{{content.page_content[6].content}}</p>
				<a v-bind:href="content.page_content[6].link" target="_blanc"><i class="fa fa-gitlab"></i> Ver Projecto</a>
				<ul class="personal-contact">
					<li><a v-bind:href="email_link"><i class="fa fa-envelope"></i></a></li>
					<li><a v-bind:href="cv.person.linkedin" target="_blanc"><i class="fa fa-linkedin"></i></a></li>
					<li><a v-on:click="show_page(5)" href="#"><i v-on:click="show_page(5)" class="fa fa-arrow-left"></i></a></li>
					<!-- <li><a v-on:click="show_page(7)" href="#"><i v-on:click="show_page(7)" class="fa fa-arrow-right"></i></a></li/> -->
				</ul>
			</div>
		</section>
	</div>
	<!-- /main section -->
	
	<!-- scripts -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="assets/js/functions.js"></script>
	<!-- /scripts -->
</body>
<!-- /body -->
</html>
<!-- /html