/*imports*/
@import url('lesshat.less');
@import url('components/flex.less');
@import url('components/functions.less');
@import url('components/general.less');

/*fonts*/
@orbitron: 'Orbitron', sans-serif;

body{
	font-family: @orbitron;
}
/*preloader*/
#preloader{
	background-color: lighten(black, 50%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQYlWNgYGAwZkAFxjjEcApgSOKTIGgSVpOxKcKqmGiFRFuNUwCHGFaT8erCGuAAtV8HLQ/j6goAAAAASUVORK5CYII=);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1001;
}

#preloader-bellow1{
	background-color: lighten(black, 80%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQYlWNgYGAwZkAFxjjEcApgSOKTIGgSVpOxKcKqmGiFRFuNUwCHGFaT8erCGuAAtV8HLQ/j6goAAAAASUVORK5CYII=);
	bottom: 50vh;
	left: 50vw;
	position: fixed;
	right: 50vw;
	top: 50vh;
	border-radius: 100%;
	z-index: 1000;
}

#preloader-bellow2{
	background-color: lighten(black, 85%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQYlWNgYGAwZkAFxjjEcApgSOKTIGgSVpOxKcKqmGiFRFuNUwCHGFaT8erCGuAAtV8HLQ/j6goAAAAASUVORK5CYII=);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	border-radius: 500px;
	z-index: 1000;
}

#preloader-bellow3{
	background-color: lighten(black, 90%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQYlWNgYGAwZkAFxjjEcApgSOKTIGgSVpOxKcKqmGiFRFuNUwCHGFaT8erCGuAAtV8HLQ/j6goAAAAASUVORK5CYII=);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	border-radius: 500px;
	z-index: 1000;
}

#vue-app{
	.display();
	.justify-content(center);
	.align-items(center);
	.guia(gree);
	min-height: 100vh;
	.transition();
	
	#wrap-content{
		min-width: 450px;
		max-width: 450px;
		min-height: 450px;
		background: #eee;
		border-radius: 20px;
		box-shadow: 0 0 5px gray;
		padding: 10px;
		.transition();
		.page{
			.transition();
			&.main-page{
				min-height: 600px;
				position: relative;
				&.hidden{
					display: none;
				}
				.display();
				.justify-content(center);
				.align-items(center);
				.flex-direction(column);
				img{
					border-radius: 30px;
					border: solid 2px grey;
					box-shadow: 0 0 5px grey;
					max-width: 200px;
					.transition();
					&:hover{
						.scale(1.05);
					}
				}
				p{
					text-align: justify;
					padding: 20px;
					background: #fff;
				}
				ul.collapse, ul.collapsing, {
					padding-left: 0;
					li{
						display: block !important;
					}
				}
				ul.habilities, 
				ul.jobs, 
				ul.curses, 
				ul.references{
					width: 90%;
					margin: 0 5%;
					list-style: none;
					padding-left: 0;
					li{
						.display();
						.justify-content(space-between);
						padding: 2px 10px;
						a{
							width: 70%;
							padding: 10px;
						}
					}
				}
				ul.personal-contact{
					.display();
					.justify-content(center);
					list-style: none;
					padding-left: 0;
					margin-bottom: 0;
					li{
						margin: 10px;
						font-size: 25px;
						height: 50px;
						width: 50px;
						a{
							color: white;
							.display();
							.justify-content(center);
							background: black;
							padding: 10px;
							border-radius: 50%;
							border: solid 2px transparent;
							.transition();
							text-decoration: none;
						}
						&:hover{
							a{
								background: white;
								border: solid 2px lighten(black, 20%);
								color: lighten(black, 20%);
							}
						}
					}
				}
			}
		}
	}

}