.contain(){
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
}

.preload(){
      background-size: content;
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 10000;
      .contain();
}

.list-none(){
      list-style: none;
      padding-left: 0;
}

.guia(@color:white){
      border: dashed 2px @color ;
      padding: 2px;
}

.reset(){
      margin: 0;
      padding: 0; 
}
